pipeline/ExecZonarPathAPICall5minutes.json
{
	"name": "ExecZonarPathAPICall5minutes",
	"properties": {
		"activities": [
			{
				"name": "Execute ZonarPathAPICSVtoADLPipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ComputeEpochDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ZonarPathAPICSVToADLPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": "zonarpathcsv",
						"StorageConnectionString": "DefaultEndpointsProtocol=https;AccountName=piketeamzonarabs;AccountKey=W1Sc1Sk0aX/b7LR1f1qN+nYGGZgW+S6AYF+OKo/h8Bg9jAUbje2xJGieRJc8PiHOd7rO8TMj1e7nADzPpKEbnw==;EndpointSuffix=core.windows.net",
						"ServiceUserName": "fw_upload",
						"ServicePassword": "p1kef!eet",
						"ServiceUrl": {
							"value": "http://pik3599.zonarsystems.net/interface.php?action=showposition&operation=path&rpt_type=Standard&version=2&starttime=@{activity('ComputeEpochDates').output.firstRow.EpochStart}&endtime=@{activity('ComputeEpochDates').output.firstRow.EpochEnd}&logvers=3.8&format=csv",
							"type": "Expression"
						},
						"FileLocation": {
							"value": "@concat(utcnow('yyyy-MM-dd'),'/zonarpath_',utcnow('yyyyMMddHHmmss'))",
							"type": "Expression"
						},
						"WebServiceUrl": "https://piketeamwebserviceutility.azurewebsites.net/api/WebServiceXMLToJson?code=nOSh3Nj6ePgPXpyalz0tqYZpTwFkey7sI5fhZJpFbMo4Dzz/DzqFcA==",
						"ETLWindowStart": {
							"value": "@pipeline().parameters.ETLWindowStart",
							"type": "Expression"
						},
						"SourceTable": "ZonarPathApi",
						"ETLWindowEnd": {
							"value": "@pipeline().parameters.ETLWindowEnd",
							"type": "Expression"
						},
						"ETLTask": "API",
						"ETLActivityName": "APIZonarPath",
						"ETLPipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"ETLPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"NotificationList": {
							"value": "@pipeline().parameters.NotificationList",
							"type": "Expression"
						},
						"DestinationTable": "ET.Path",
						"Format": "CSV"
					}
				}
			},
			{
				"name": "ComputeEpochDates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT CONVERT(VARCHAR(20),DATEDIFF(ss,'1970-01-01','@{pipeline().parameters.ETLWindowStart}') ) AS EpochStart\n\t  ,CONVERT(VARCHAR(20),DATEDIFF(ss,'1970-01-01','@{pipeline().parameters.ETLWindowEnd}') -1) AS EpochEnd",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "AzureSqlDWETLPipelineInstance",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"ETLWindowStart": {
				"type": "String"
			},
			"ETLWindowEnd": {
				"type": "String"
			},
			"ETLMasterPipelineID": {
				"type": "String"
			},
			"ETLMasterPipelineName": {
				"type": "String"
			},
			"NotificationList": {
				"type": "String"
			}
		},
		"folder": {
			"name": "API To ADL Pipelines"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}